.about {
  .subtitle {
    font-size: 1.5em;
    text-transform: uppercase;
  }

  // Mobile layout:
  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;

    $padding: 1.5rem;
    aside {
      padding: $padding;

      .select-wrapper {
        position: relative;
        display: inline-block;
        margin-bottom: $padding;
      }

      .list-wrapper {
        display: none;
      }
    }

    main {
      p {
        line-height: 2em;
      }

      & > section {
        padding: $padding;
      }

      img {
        width: 100%;

        &:not(:last-child) {
          margin-bottom: 1rem;
        }
      }
    }
  }

  // Desktop layout:
  @include media-breakpoint-up(md) {
    $aside-width: 346px;

    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    padding-bottom: 10rem;

    header {
      position: fixed;
      top: 0;
      width: 100%;
      left: 0;

      .menu-wrapper {
        width: 100%;
      }
    }

    aside {
      width: $aside-width;
      position: sticky;
      top: 12rem;
      padding: $desktop-content-padding;
      margin-left: 1rem;

      .select-wrapper {
        display: none;
      }

      .list-wrapper {
        a,
        strong {
          color: inherit;
          text-decoration: none;
          font-size: inherit;
          font-family: $font-family-monospace;
        }

        li {
          line-height: 2.5rem;
        }

        li.active {
          position: relative;

          &::before {
            content: "⬤";
            position: absolute;
            right: 100%;
            height: 100%;
            margin-right: 0.5rem;
            font-size: 0.6em;
          }
        }
      }
    }

    main {
      margin-top: 2rem;
      margin-left: $aside-width;
      margin-right: 2rem;
      max-width: calc(max(min(100vw - #{$aside-width} - 250px, 1000px), 700px));

      p {
        line-height: 2em;
      }

      figcaption {
        font-size: 0.8em;
      }

      .images-multiple {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        $margin: 1rem;
        &.images-2 img {
          width: calc((100% - #{$margin}) / 2);
        }
        &.images-3 img {
          width: calc((100% - #{$margin} * 2) / 3);
        }
      }

      .columns {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;
        margin-top: 10rem;

        $margin: 1.5rem;
        .text {
          width: 30%;
          margin-left: 6rem;
          flex-shrink: 0;
        }
        figcaption {
          flex-shrink: 1;
          flex-grow: 1;
        }
        img {
          max-width: 100%;
        }
      }

      .columns-equal {
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;

        $margin: 1.5rem;
        & > * {
          width: calc((100% - #{$margin}) / 2);
          flex-shrink: 1;
        }
        img {
          max-width: 100%;
        }
      }

      .image-stick-left {
        position: relative;
        height: 200px;

        img {
          position: absolute;
          top: 0;
          left: -$aside-width;
          width: $aside-width;
        }
      }
    }
  }
}
