.image-viewer {
  position: absolute;
  inset: 0;
  background: $map-background-color;

  .openseadragon-wrapper {
    position: absolute;
    inset: 0;
  }

  // Hide default controls
  .openseadragon-container > div:not(.openseadragon-canvas) {
    display: none !important;
  }

  .navigation {
    position: absolute;
    bottom: 0;
    right: 0;

    button {
      width: 1.4em;
      height: 1.4em;
      line-height: 1.4em;
      border-radius: 3px;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.7em;
    }
  }
}
