body {
  padding: 0;
  margin: 0;
  width: 100dvw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  width: 100%;
  height: 100%;
  max-width: 500px;
  max-height: 1000px;
  overflow: hidden;
  position: relative;

  background-color: $map-background-color;
  background-image: url("/web-application/background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

main {
  height: 100%;
  overflow: auto;
}
