$font-family-sans-serif: "IBM Plex Sans";
$font-family-monospace: "IBM Plex Mono";

$input-btn-font-family: $font-family-monospace;
$headings-font-weight: bold;

$primary: #3d3853;
$secondary: #d4d1e1;
$background-color: #edf1ec;
$map-background-color: #627289;

$body-color: $primary;
