$font-family-sans-serif: "IBM Plex Sans";
$font-family-monospace: "IBM Plex Mono";

$headings-font-weight: 500;
$display-font-weight: 500;

$primary: #313a44;
$secondary: #596778;

$body-color: $primary;
$background-color: #edf1ec;
$map-background-color: #627186;
$light-blue: #eef5f4;
$light-purple: #bbcdc9;
$salmon: #ff6b5f;

$custom-colors: (
  "light-blue": $light-blue,
  "light-purple": $light-purple,
);

$font-size-root: 14px;
$border-radius: 8px;
$input-bg: transparent;
$form-label-font-size: 14px;
$form-select-indicator-color: transparent;
$form-select-indicator-color-dark: transparent;
